# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CppWinForm1/.vs/CppWinForm1/v14/.suo
/stl_task_2/.vs/stl_task_2/v14/.suo
/stl_task_2/Debug/stl_task_2.ilk
/stl_task_2/stl_task_2.VC.VC.opendb
/stl_task_2/stl_task_2.VC.db
/stl_task_2/ipch/STL_TASK_2-2ce08044/STL_TASK_2-4f5a0982.ipch
/stl_task_2/Debug/vc140.pdb
/stl_task_2/Debug/vc140.idb
/stl_task_2/Debug/stl_task_2.tlog/stl_task_2.lastbuildstate
/stl_task_2/Debug/stl_task_2.tlog/link.write.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/link.read.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/link.command.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/CL.write.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/CL.read.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/CL.command.1.tlog
/stl_task_2/Debug/stl_task_2.pdb
/stl_task_2/Debug/stl_task_2.log
/stl_task_2/Debug/stl_task_2.tlog/unsuccessfulbuild
/stl_task_2/Debug/stl_task_2.Build.CppClean.log
/stl_task_2/Debug/stl_task_2.tlog/link.9744.write.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/link.9744.read.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/link.9744-rc.write.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/link.9744-rc.read.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/link.9744-cvtres.write.1.tlog
/stl_task_2/Debug/stl_task_2.tlog/link.9744-cvtres.read.1.tlog
/stl_task_2/Debug/testpred.obj.enc
/stl_task_2/Debug/templatecontainer.obj.enc
/stl_task_2/Debug/stl_task_2.obj.enc
/stl_task_2/Debug/stdafx.obj.enc
/stl_task_2/Debug/help_utils.obj.enc
/stl_task_2/Debug/date.obj.enc
/stl_task_2/Debug/bill.obj.enc
/stl_task_2/.vs/stl_task_2/v15
/stl_task_2/Debug
/stl_task_2/Debug/vc141.pdb
/stl_task_2/Debug/vc141.idb
/stl_task_2/Debug/stl_task_2.tlog/link.delete.1.tlog
/stl_task_2/Debug/lnk{EA99778E-948A-4280-ADFC-EB907BD9611B}.tmp
/stl_task_2/.vs/stl_task_2/v15/ipch/STL_TASK_2-2ce08044/STL_TASK_2-4f5a0982.ipch
/stl_task_2/.vs/stl_task_2/v15/Browse.VC.opendb
/stl_task_2/.vs/stl_task_2/v15/Browse.VC.db
/stl_task_2/.vs/stl_task_2/v15/.suo
/stl_task_2/Debug/vc141.pdb
/stl_task_2/Debug/vc141.idb
/stl_task_2/Debug/stl_task_2.tlog/link.delete.1.tlog
/stl_task_2/Debug/lnk{EA99778E-948A-4280-ADFC-EB907BD9611B}.tmp
/stl_task_2/.vs/stl_task_2/v15/ipch/STL_TASK_2-2ce08044/STL_TASK_2-4f5a0982.ipch
/stl_task_2/.vs/stl_task_2/v15/Browse.VC.opendb
/stl_task_2/.vs/stl_task_2/v15/Browse.VC.db
/stl_task_2/.vs/stl_task_2/v15/.suo
/stl_task_2/Debug/vc141.pdb
/stl_task_2/Debug/vc141.idb
/stl_task_2/Debug/stl_task_2.tlog/link.delete.1.tlog
/stl_task_2/Debug/lnk{EA99778E-948A-4280-ADFC-EB907BD9611B}.tmp
/stl_task_2/.vs/stl_task_2/v15/ipch/STL_TASK_2-2ce08044/STL_TASK_2-4f5a0982.ipch
/stl_task_2/.vs/stl_task_2/v15/Browse.VC.opendb
/stl_task_2/.vs/stl_task_2/v15/Browse.VC.db
/stl_task_2/.vs/stl_task_2/v15/.suo
/stl_task_2/x64/Debug/vc141.pdb
/stl_task_2/x64/Debug/vc141.idb
/stl_task_2/x64/Debug/stl_task_2.tlog/stl_task_2.lastbuildstate
/stl_task_2/x64/Debug/stl_task_2.tlog/link.write.1.tlog
/stl_task_2/x64/Debug/stl_task_2.tlog/link.read.1.tlog
/stl_task_2/x64/Debug/stl_task_2.tlog/link.command.1.tlog
/stl_task_2/x64/Debug/stl_task_2.tlog/CL.write.1.tlog
/stl_task_2/x64/Debug/stl_task_2.tlog/CL.read.1.tlog
/stl_task_2/x64/Debug/stl_task_2.tlog/CL.command.1.tlog
/stl_task_2/x64/Debug/stl_task_2.pdb
/stl_task_2/x64/Debug/stl_task_2.log
/stl_task_2/x64/Debug/stl_task_2.ilk
/stl_task_2/x64/Debug/stl_task_2.tlog/unsuccessfulbuild
/stl_task_2/lll
/stl_task_2/p
/stl_task_2/some
/stl_task_2/x64/Debug/editrecordcommand.obj.enc
